/*
 * gtcoders - Sitio web oficial
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 * CSS Version 3
 *
 * @author   Edwin Xico <contact@xicoofficial.co>
 * @license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html
 * @version  GIT: 0.1.0-alpha
 * @link     http://iqbranding.agency
 */

//IQ Branding institutional colors
iq_black = #1e211e  // True color: #1e211e | Web safe color: #333333
iq_orange = #ff8d3f // True color: #ff8d3f | Web safe color: #ff9933
iq_dark_grey = #35373f // True color: #35373f | Web safe color: #333333
iq_white = #f8f1e5 // True color: #f8f1e5 | Web safe color: #ffffcc
iq_grey = #77777a // True color: #77777a | Web safe color; #666666

//IQ Branding institutional fonts
iq_font01 = 'Actor', sans-serif
iq_font02 = 'Cabin'
iq_font03 = 'Open Sans', sans-serif

//Slider images
iq_slider01 = "../img/slider01_Wardrobe.jpg"
iq_slider02 = "img/slider02"

/*******************************
* User agent stylesheet
*******************************/
div
	display block

a:-webkit-any-link
	color webkit-link
	text-decoration underline
	cursor auto

h2 
	display block
	font-size 1.5em
	-webkit-margin-before 0.83em
	-webkit-margin-after 0.83em
	-webkit-margin-start 0px
	-webkit-margin-end 0px
	font-weight bold

p
	display block
	-webkit-margin-before 1em
	-webkit-margin-after 1em
	-webkit-margin-start 0px
	-webkit-margin-end 0px

hr
	display: block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	border-style: inset;
	border-width: 1px;
table 
	display table
	border-collapse separate
	border-spacing 2px
	border-color iq_grey

tbody
	display table-row-group
	vertical-align middle
	border-color inherit

tr
	display table-row
	vertical-align inherit
	border-color inherit

td, th
	display table-cell
	vertical-align inherit

ul, menu, dir
	display block
	list-style-type disc
	-webkit-margin-before 1em
	-webkit-margin-after 1em
	-webkit-margin-start 0px
	-webkit-margin-end 0px
	-webkit-padding-start 40px

li
	display list-item
	text-align -webkit-match-parent

blockquote
	display block
	-webkit-margin-before 1em
	-webkit-margin-after 1em
	-webkit-margin-start 40px
	-webkit-margin-end 40px

/*
* General Styling
*/
html
	width 100%
	height 100%

body
	width 100%
	height 100%
	color iq_grey
	background iq_black
	font 16px/1, iq_font01
	letter-spacing 0.48px
	-webkit-font-smoothing antialiased
	
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input
	margin 0
	padding 0

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
	margin 0
	padding 0

h2
	color iq_dark_grey
	font-family iq_font02
	font-size 1.75em
	font-weight 900
	margin 0 auto .5em
	text-transform uppercase

a
	color iq_orange
	text-decoration none
	
p
	line-height 1.5
	margin 0 auto 1em

.wrapper
	position relative
	width 100%
	height 100%
	background iq_black

#header, #banner-wrap, #main, #footer
	width 100%

.container, .wsite-footer
	margin 0 auto
	max-width: 1100px
	margin 0 auto
	padding 0 2.5em
	box-sizing border-box

.wsite-button
	display inline-block
	padding 0 15px 0 0
	text-decoration none !important
	font-weight normal !important
	font-size 14px !important
	color iq_black
	cursor pointer

.wsite-button-large
	background iq_orange
	padding 0px
	-webkit-border-radius 4px
	-moz-border-radius 4px
	border-radius 4px

.wsite-button-large
	font-size 18px !important
	
.wsite-button-highlight
	color iq_white !important

.wsite-button-inner
	color iq_white !important
	font-family iq_font01
	display block
	font-size 1em
	min-height 32px !important
	font-weight bold
	text-transform uppercase
	padding 3px 31px !important
	background iq_orange
	white-space normal
	-webkit-border-radius 2px
	-moz-border-radius 2px
	border-radius 2px
	-webkit-transition all 0.2s ease-in-out
	-moz-transition all 0.2s ease-in-out
	-o-transition all 0.2s ease-in-out
	transition all 0.2s ease-in-out
	float left

.wsite-button-highlight .wsite-button-inner
	background iq_dark_grey

.wsite-button, .wsite-editor .wsite-button
	display inline-block
	padding 0px
	background iq_orange
	-webkit-border-radius 2px
	-moz-border-radius 2px
	box-sizing border-box
	max-width 100%
	overflow hidden

.wsite-button-large .wsite-button-inner
	font-size 0.9em
	padding 4px 53px
	background iq_orange
	-webkit-border-radius 4px
	-moz-border-radius 4px
	border-radius 4px
	min-height 42px !important
	height 42px
	line-height 42px

.wsite-button-large.wsite-button-highlight
	background iq_dark_grey

.wsite-button-large.wsite-button-highlight, .wsite-button-large.wsite-button-highlight .wsite-button-inner
	background iq_dark_grey
	
.wsite-button-large.wsite-button-highlight .wsite-button-inner
	background iq_dark_grey
	


/*
* Start Sticky-wrapper styling
*/
.sticky-wrapper
	height 58px

#header
	width 100%
	top 0
	left 0
	height auto
	box-sizing border-box
	background iq_black
	color iq_white
	padding 13px 0
	z-index 3
	transition all 0.3s ease-in-out
	.container
		position relative
		display table
		width 100%
		height 100%

.stuck
	position fixed !important


#logo, #logo a
	text-transform uppercase
	color iq_white
	line-height 1
	font-weight 300
	letter-spacing 0.78px
	text-align center

#logo
	display table-cell
	vertical-align middle

.wsite-logo
	display inline-block
	vertical-align top

#wsite-title
	font-size 2em
	
.wsite-logo img, .wsite-logo span
	vertical-align top !important


/* 
* Start page-content styling
*/
.page-content
	position relative
	display block
	top 0
	left 0
	min-height 100%
	background-color iq_dark_grey
	z-index 2
	transition left 610ms cubic-bezier(0,.8,.55,1)

.wsite-not-footer
	text-align left

/*
* ============================= Banner ======================
*/
#banner-wrap
	position relative
	background-position center center
	-webkit-transition all 0.3s ease-in-out
	-moz-transition all 0.3s ease-in-out
	-o-transition all 0.3s ease-in-out
	transition all 0.3s ease-in-out
	.container
		display table
		width 100%
		height 100%
		vertical-align middle

.wsite-background.wsite-custom-background
	background-size 120% !important

.wsite-background
	background-image url(iq_slider01) !important
	background-repeat no-repeat !important
	background-position 100.00% 26.90% !important
	background-size 120% !important
	background-color transparent !important

.landing-page #banner
	height 500px

#banner
	text-align center
	display table-cell
	vertical-align middle
	padding 50px 0px
	h2
		margin 0 auto
		color iq_white
		font-size 4em
		text-transform uppercase
	p
		margin .8em auto 1em
	.button-wrap
		display inline-block
		text-align left
		

#banner p
	font-size 1.3em
	color iq_white


/*
* ============================= Main ======================
*/
#main 
	background iq_white
	padding 4em 0

.wsite-section > h2:first-child
	text-align center

.paragraph
	text-align center
	
.wsite-spacer
	height 50px
	
hr.styled-hr 
	width 100%
	background-color iq_grey
	border 0pt none
	color iq_grey
	height 1px
	margin 0 auto
	text-align center
	visibility hidden !important
	

// Services	
.wsite-multicol
	position relative
	direction ltr

.wsite-multicol-table-wrap
	margin 0 -15px

.wsite-multicol-table
	position relative
	border-collapse collapse
	table-layout fixed
	width 100%
	margin 0 !important
	border 0 !important
	padding 0 !important

.wsite-multicol-col
	width 33.333333333333%
	padding 0 15px
	vertical-align top
	margin 0 !important
	border 0 !important
	-moz-box-sizing border-box
	
.wsite-multicol-col.col-iii
	width 33.333333333333%

.wsite-multicol-col.col-ii
	width 50%

.wsite-product
	padding 10px 20px
	min-width 100px
	overflow hidden
	border 1px solid iq_grey
	border-radius 4px
	background-color iq_white
	box-shadow 0 1px 2px rgb(0,0,0,0.1)
	margin-top 10px
	margin-bottom 10px
	.wsite-product-title
		font-size 120%

.wsite-product-right
	display table

.wsite-product-top
	float left
	margin 10px 0 5px
	width 70%
	min-width 100px

.wsite-product-title, .wsite-product-price
	margin-right 10px

.wsite-product-button-wrap
	float left
	margin 10px 0
	width 30%
	display table
	text-align right

.wsite-button-highlight, .wsite-editor .wsite-button-highlight
	background iq_dark_grey

.wsite-product-description
	clear both
	padding-top 5px
	margin 0 0 10px
	ul
		box-sizing border-box
		margin 0px 0px 10px
		padding 0px
		border 0px
		vertical-align top
		color iq_black
		font-family iq_font01
		font-size 14px
		text-align center
		li
			box-sizing border-box
			margin 0px
			padding 0px
			border 0px
			vertical-align top
			text-align left
		

div.paragraph
	line-height 1.5
	margin 0 auto 1em
	ul, ol
		padding-left 3em !important
		margin 5px 0 !important
		overflow hidden
	li
		padding-left 5px !important
		margin 3px 0 0 !important

div.paragraph ul, div.paragraph ul li
	list-style disc outside !important


.wsite-product-description.paragraph p
	box-sizing border-box
	margin 0px 0px 10px
	padding 0px
	border 0px
	vertical-align top
	font-size 14px
	line-height 21px
	color iq_grey
	text-align justify
	font-family iq_font03


// Portfolio

.wslide
	font-family arial
	font-size 13px
	color iq_white
	cursor default
	table 
		border-collapse collapse
		border-spacing 0
	td
		padding 0 !important
		vertical-align top

.wslide-main
	position relative
	z-index 2
	width 100%

.wslide-content
	height 365px

.wslide-content-inner
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	overflow hidden

.wslide-slides
	position absolute
	top 0
	left 0
	width 100%
	height 100%

.wslide-slide
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	overflow hidden

.wslide-slide-inner1
	position absolute
	top 50%
	left 50%

.wslide-slide-inner2
	position absolute
	img
		float left

.wslide-overlay-top-left
	position absolute
	z-index 2
	top 10px
	left 10px

.wslide-overlay-top-right
	position absolute
	z-index 2
	top 10px
	right 10px

.wslide-button
	position relative
	display inline block
	height 25px
	overflow hidden
	cursor pointer

.wslide-button-inner
	position relative
	z-index 2
	float left
	padding 0 14px !important
	height 25px
	line-height 25px
	color iq_white
	font-weight bold
	white-space nowrap

.wslide-button-icon
	display inline-block
	height 25px
	vertical-align top
	
.wslide-play .wslide-button-icon
	width 5px
	background url(../img/icons/control_icons.gif) no-repeat -14px 50%
	margin-left 2px

.wslide-pause .wslide-button-icon
	width 6px
	background url(../img/icons/control_icons.gif) no-repeat -19px 50%
	margin-left 2px

.wslide-prev .wslide-button-icon
	width 7px
	background url(../img/icons/control_icons.gif) no-repeat 0px 50%

.wslide-next .wslide-button-icon
	width 7px
	background url(../img/icons/control_icons.gif) no-repeat -7px 50%

.wslide-button-bg
	position absolute
	z-index 1
	top 0
	left 0
	display block
	width 100%
	height 25%
	-webkit-border-radius 2px
	-moz-border-radius 2px
	background iq_dark_grey
	opacity .8
	

// Testimonials
blockquote
	color iq_dark_grey
	font-size 1.25em
	line-height 1.25
	font-weight 500
	padding 0px 0px 0px 25px
	margin 2em 0
	border-left 4px solid iq_orange !important
	letter-spacing 1px
	font-style normal !important
	text-align left

// Contact Us
.wsite-social
	vertical-align middle
	white-space normal
	font-size 40px
	position relative
	display inline-block

.wsite-social-item
	display inline-block
	vertical-align top
	margin 0 1px
	width 24px
	height 24px
	background url(../img/icons/social_icons.png) no-repeat

.wsite-social-facebook
	background-position 0 0

.wsite-social-twitter
	background-position -24px 0

.wsite-social-item, .wsite-editor .wsite-social-item,
#wsite-com-product-social-sharing .wsite-com-product-social-facebook,
#wsite-com-product-social-sharing .wsite-com-product-social-twitter,
#wsite-com-product-social-sharing .wsite-com-product-social-pinterest
	display: inline;
	vertical-align: middle;
	width: auto;
	height: auto;
	background-image: none;
	background-repeat: no-repeat;
	text-transform: none;
	text-decoration: none;

.wsite-social-item
	margin: 5px;
	font-size: .4em;
	border-radius: 25px;
	border: 2px solid #727272;
	display: inline-block;
	padding: 8px !important;
	color: #727272;
	box-sizing: border-box;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

.wsite-elements .wsite-social-item.first-child,
.wsite-editor .wsite-elements .wsite-social-item.first-child
	padding-left 8px !important

.wsite-social-facebook:before
	content "/e600"

.wsite-social-twitter:before
	content "/e601"

.wsite-social-instagram:before
	content "/e607"

.wsite-social-mail:before
	content "/e603"

.wsite-social-item:before, .wsite-social-item:after,
.wsite-editor .wsite-social-item:before, .wsite-editor .wsite-social-item:after,
#wsite-com-product-social-sharing .wsite-com-product-social-facebook:before,
#wsite-com-product-social-sharing .wsite-com-product-social-facebook:after,
#wsite-com-product-social-sharing .wsite-com-product-social-twitter:before,
#wsite-com-product-social-sharing .wsite-com-product-social-twitter:after,
#wsite-com-product-social-sharing .wsite-com-product-social-pinterest:before,
#wsite-com-product-social-sharing .wsite-com-product-social-pinterest:after
	font-family: "wsocial";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


/*
* ============================= Footer ======================
*/		








/*******************************
 * Medium Screen
 ******************************/

@media (max-width: 767px) 
	body
		font-size 14px

	.container
		padding 0 1em

	#logo #wsite-title
		font-size 1.5em !important

	#banner-wrap .container
		padding 0 30px

	.landing-page #banner
		height 350px
	
	#banner
		font-size 12px
		h2
			font-size 2.5em !important
		p
			font-size 1.25em !important
		h2 *, p *
			font-size inherit !important
			line-height inherit !important
		h2 *, div.paragraph *
			font-size inherit !important
			line-height inherit !important

	.wsite-button-inner
		padding 3px 20px

	.wsite-button-large .wsite-button-inner
		padding 4px 25px
		min-height 0 !important

	.paragraph
		font-size 1em !important

	.wsite-multicol-col
		max-width 100% !important
		display block
		width auto !important
		margin 0 auto 1em !important

